In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/forbes_celebrity_list.csv")

In [3]:
df.head()

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg